<div class="navbar bg-base-100 shadow-sm">
  <ul class="menu menu-horizontal bg-base-200">
    @for (route of routes; track route.path) {
      @if (route.path !== '') {
        <li>
          <a [routerLink]="route.path">{{ route.path }}</a>
        </li>
      }
    }
  </ul>
</div>

<div class="p-4 min-h-svh">
  <router-outlet
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    (attach)="onAttach($event)"
    (detach)="onDetach($event)"
    [routerOutletData]="outletConfig"
  ></router-outlet>
</div>
